.post {
  border-radius: 8px;
  padding: 1rem;
}

.author {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.text {
  background-color: rgb(23, 168, 173);
}
/* POst list that renders unordered list  */
/*  That includes the posts I have already created. */
/* Use li inst */
/* Use the post list component instead of the two post components */
